include ../plus/plus.pug
include ../minus/minus.pug
include ../cross/cross.pug
include ../up/up.pug

mixin card(name, title, highlight=false, hideTitle=false, open=true, large=false, hideCheckbox=false)
  div(class="container")
    input(class=`card__checker ${hideCheckbox ? 'card__checker_hide' : ''}` type="checkbox" id=`${name}-check` checked=open data-card=`${name}-card`)

    label(for=`${name}-check` tabindex=0 role="button")
      span #{title}
      +minus("card__open-sign")
      +plus("card__close-sign")

    section(class=`card ${large ? 'card_large' : ''} ${highlight ? 'highlight' : ''}` id=`${name}-card` data-checker=`${name}-check`)
      header(class="card__header")
        h2(class="card__drug" data-card=`${name}-card`) #{`${!hideTitle ? title : ''}`}
        button(class="card__close" data-checker=`${name}-check` tabindex=-1 aria-label="Закрыть")
          +cross
      if large
          +up("articles-up")
      article(class=`card__body ${large ? 'card__body_large' : ''} ${name}`)
        block
