mixin card(name, index = 1, open=true, large=false)
    label(for=`${name}-check`) #{name}
    input(type="checkbox" class="checker" id=`${name}-check` checked=open)

    div(class=`card ${large ? 'card-large' : ''} card-${index}`)
      header
        div(class="close" data-card=`${name}-check`) close
      if block
        block
      else
        p Coming soon...
